:root{
  --color_fondo_body:#f5f6f7ad;
}
*{
  margin: 0;
  padding: 0;
}

html, 
body {
  font-size: 1.125em;
  background-color: var(--color_fondo_body);
}

h1{
  max-width: 58.75em;
  font-size:  2.5em;
  font-family: lato, sans-serif;
  font-weight: 700;/*relleno de la letra*/
  line-height: 1.1;
  margin: 2.5em, 0; /*Margen superior-inferior, derecho-izquierdo*/
}

.app{
  min-height: 100vh;/*Recordar que esto toma el 100% de la pantalla verticalmente*/
  display: flex;
  flex-wrap: wrap;/*Si  un elemento toma  el 100% del contenedor, toma la siguiente linea*/
  align-items: center; /* Se aliean horizontalmente*/
  justify-content: center;/* se  centran los elementos */
  text-align: center;
}

.contenedor_principal{
  min-height: 37.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 820px){
  .h1{
  font-size: 1em;
  max-width: 20.75em;
  font-weight: 200;
  }
  .contenedor_principal{
    min-height: 15.5em;
  }
}